.card{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    width: 420px;
    display: block;
    position: relative;
    border-radius: 8px;
    margin: 20px 0 15px 0;
    background-color: white;
}

.img-outlet{
    border-radius: 8px 8px 0 0;
    width: 420px;
}

.card-buttom{
    padding: 13px;
}

.tipe{
    display: inline-block;
    justify-content: flex-start;
    background-color:rgba(31, 117, 225, 0.08);
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid rgba(31, 117, 225, 0.63);
    color: #1F75E1;
    font-size: 13px;
    padding: 3px;
    margin: 5px;
}

.nama{
    font-size: 16px;
    margin: 5px 5px 8px 5px;
    font-weight: 650;
}

.location-icon{
    color: rgb(132, 146, 166)
}

.telp-icon{
    color: rgb(132, 146, 166)
}

.info-telp{
    margin: 5px;
}

.notelp{
    margin-left: 5px;
    font-size: 14px;
    color:rgb(132, 146, 166);
}

.alamat{
    margin-left: 5px;
    font-size: 14px;
    color:rgb(132, 146, 166);
}

.info-loct{
    margin: 5px;
}



.button-wrapper{
    width: auto;
    font-weight: 600;
    margin: 10px 5px 8px 5px;
    color: #163c80;
    border: 2px solid #163c80;
    text-align: center;
    padding: 10px;
    transition: 0.2s ease-in;
}

.button-wrapper:hover{
    color: white;
    background-color:#163c80;
    cursor: pointer;
}

