.container{
    max-width: 450px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.home-title{
    text-align: center;
}

.container-title{
    background-color: #163c80;
    width: 100%;
    display: block;
    position: relative;
    padding-top: 20px;
    padding-bottom: 100px;
}

.container-outlet{
    position: relative;
    margin-top: -115px;
}

.home-title{
    color: white;
    font-size: 20px;
}